/vxc_lang_code_processing/__pycache__
/vxc_pipeline/__pycache__
/vxc_pipeline/CharsiuG2P-merge_final.csv
.DS_Store
.idea/
/vxc_pipeline/__pycache__
vxc_pipeline/CharsiuG2P - merge_final.csv
vxc_pipeline/test_ground.ipynb
vxc_pipeline/cedict_1_0_ts_utf-8_mdbg.txt
/vxc_pipeline/__pycache__
/vxc_pipeline/__pycache__
vxc_pipeline/ckiptagger_data.zip
/vxc_pipeline/data
vxc_pipeline/test_ground.ipynb
vxc_pipeline/test_ground.ipynb
